* 
    background-color: #000
    color: #fff

#init
    font $main_fontSize Helvetica, arial, sans-serif
    color $main_color
    display block
    text-align: center
    margin-top: 45%
    margin-bottom: 30px